openai-whisper==20231117
IPython
matplotlib
fire
evaluate
datasets
jiwer
more_itertools
peft
transformers
distro
vector_quantize_pytorch
webdataset
librosa
soundfile
git+https://github.com/homebrewltd/WhisperSpeech.git
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
torchaudio==2.2.0
vllm
openai
huggingface_hub